<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <iframe src="/static/charts/top_customers_bar_chart.html" width="100%" height="500"></iframe>
    <iframe src="/static/charts/most_popular_books_pie_chart.html" width="100%" height="500"></iframe>
    <iframe src="/static/charts/top_drinks_bar_chart.html" width="100%" height="500"></iframe>
    <iframe src="/static/charts/most_popular_books_pie_chart.html" width="100%" height="500"></iframe>
    <iframe src="/static/charts/top_drinks_bar_chart.html" width="100%" height="500"></iframe>


</body>
</html>
